body, html {
  height: 100%;
  margin: 0;
  color: #777;
}

.img1, .img2, .img3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img1{
  background-image: url("../img/descarga.jpg");

  min-height: 100%;
}

.img2{
  background-image: url("../img/es.jpg");
  min-height: 400px;
}

.img3 {
  background-image: url("../img/pru.jpg");
  min-height: 50%;
}
 .Parrafo{
     position : relative;
 }
 @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
